body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.conteiner {
    width: 970px;
    margin: 0 auto;
}

.nav-menu__items {
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 0;
    position: relative;
}

.nav-menu__items > li {
    margin: 0 20px 0 ;
}

.menu_link {
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #828282;
}

.menu_link:hover {
    color: #070707;
}

.nav-menu__items::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color:  #828282;
    display: block;
    position: absolute;
    bottom: 0;
}

